{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="{% static 'images/'|add:random_image %}" alt="Random meme" class="img-fluid mt-5" style="max-width: 80%; max-height: 70vh;">
      </div>
      <div class="col-md-12 text-center">
        <button onclick="location.reload()" class="btn btn-primary mt-3">New Meme</button>
      </div>
    </div>
  </div>
{% endblock %}